body {
    font-family: 'Open Sans', 'Tahoma', 'Arial', sans-serif;
    font-size: 12px
}

#back {
    background-color: #359b07;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 5px;
    text-align: center;
    position: relative;
    top: 60%;
}

#additionalInfoWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background-color: white;
    width: 100%;
    height: 80px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.skelbiu-logo {
    display: flex;
    text-align: center;
    flex-direction: row;
}

.skelbiu-logo img {
    height: 40px;
    padding-top: 20px;
}

#navBar {
    display: flex;
    justify-content: center;
    background-color: #ffcc01;
    height: 70px;
}

#buttonWrapper {
    width: 170px;
    height: 40px;
    text-align: center;
    justify-content: center;

}

.remove-item {
    margin: auto;
    margin-top: 20px;
    width: 200px;
    background-color: #359b07;
    color: white;

}

.remove-msg {
    text-align: center;
    color: red;
}

#restInfoWrapper {
    text-align: left;
    width: 640px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: light;
    margin-top: 20px;

}

#restInfoWrapper .productPrice {
    text-align: right;
    font-size: large;
    font-weight: lighter;
}